#menu {
    background-color: #192436;
    border: solid white 5px;
    
    border-style: ridge;  
    
    
}

#gora{
    border: solid white;
    display: block; 
    border-style: ridge;   
    height: 50px;
    
}


#promocje{
     color: white;
     text-align: center;

}

#kontakt{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    

}



ul, ul li{      
    text-align: center;
    display: block; 
    list-style:none;      
    margin-top: 50px; 
    margin-bottom: 20px;     
    padding: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

ul li{
    text-align: center;
     display: inline-block; 
 
}

 ul a:link, ul a:visited{     
      text-align: center;
      text-decoration:none;          
      color:white;     
      padding: 20px 50px;   
}        
      

ul a:hover {     
        border-style: inset;     
        color:green;     
    }


#logo
{
    width: 3%;
    margin-left: 735px;
       
       
}